header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(48, 45, 45);
    color: aliceblue;
}
nav a {
    color: aliceblue;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Welcome{
    background-image: url("./grunde.jpg");
    height: 70vh;
    width: 100%;
    color: aliceblue;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.learn{
    background-color: rgb(190, 59, 11); 
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    border-radius: 8%;
    
    
}