body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #120303;
}

header {
  background-color: #171746;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #0c0632;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: #5b30cf;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #170f47;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #221455;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.smaple {
    background-color: red;
}